<header class="slider">
  <div class="middle">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="txtcenter"></div>
          <div class="pre-reservation">
            <div class="champs-obligatoire">
              <p id="obligatoire">(*) Champs obligatoires</p>
            </div>
            <h1>Installation de véranda dans le 78</h1>
            <h2 class="tit"><span>Devis simple et 100% gratuit</span></h2>
            <form role="form" method="post" action="#carousel-header" class="p20">
              <div class="row">
                <div class="col-sm-3 clabel">
                  <div class="form-group has-feedback ">
                    <!-- <label for="form_lastname">Nom</label><br/> -->
                    <div class="lstname">
                      <input type="text" name="lastname" id="form_lastname" value="" class="form-control"
                        placeholder="Nom *">
                    </div>
                  </div>
                </div>


                <div class="col-sm-3  clabel">
                  <div class="form-group has-feedback ">
                    <!-- <label for="form_phone">Téléphone</label> -->
                    <div class="bgtelephone">
                      <input type="text" name="phone" id="form_phone" value="" class="form-control"
                        placeholder="Téléphone *">
                    </div>
                  </div>
                </div>

                <div class="col-sm-3 clabel ">
                  <div class=" form-group has-feedback ">
                    <!-- <label for="form_email">E-mail</label><br/> -->
                    <div class="bgemail">
                      <input type="text" name="email" id="form_email" value="" class="form-control "
                        placeholder="text@exemple.fr *">
                    </div>
                  </div>
                </div>


                <div class="col-sm-3 clabel">
                  <div class="form-group has-feedback ">
                    <!-- <label for="form_select1">Surface</label>  -->
                    <div class="bgparticulier">
                      <select name="select1" id="form_select1" class="form-control">
                        <option>5 m²</option>
                        <option>10 m²</option>
                        <option>15 m²</option>
                        <option>20 m²</option>
                        <option>25 m²</option>
                        <option>30 m²</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>


              <div class="text-center">
                <input id="btSubmit" class="button" name="devis" type="submit" value="Envoyer" title="Envoyer">
              </div>
              <br>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>